<div class="container auth">
  <mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-subtitle>Please fill in this form to create an account!</mat-card-subtitle>

    <mat-divider></mat-divider>

    <mat-card-content>
      <form [formGroup]='signUpForm'>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="username" [errorStateMatcher]="matcher">
          <mat-error *ngIf="getFormControl('username').hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" [errorStateMatcher]="matcher">
          <mat-error *ngIf="getFormControl('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="getFormControl('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" [errorStateMatcher]="matcher">
          <mat-error *ngIf="getFormControl('password').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="getFormControl('password').hasError('pattern')">
            Password must be between 4 and 8 digits long and include at least one numeric digit
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName='confirmPassword' [errorStateMatcher]="matcher">
          <mat-error *ngIf="getFormControl('confirmPassword').hasError('passwordMismatch')">
            Password must match
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="signUp()">Sign Up</button>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="auth-link">
    <p>Already have an account?</p>
    <a routerLink="/sign-in">Sign in here</a>
  </div>
</div>

