<mat-card>
  <mat-card-title>New Transaction</mat-card-title>

  <mat-divider></mat-divider>

  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Recipient</mat-label>
        <input matInput placeholder="recipient">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput placeholder="amount">
      </mat-form-field>

      <button mat-raised-button color="primary">Send</button>
    </form>
  </mat-card-content>
</mat-card>
